@import "tailwindcss";

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-pinkPale {
    --tw-bg-opacity: 1;
    background-color:#fbf5de;
}
.bg-transparent {
    background-color: transparent;
}
.bg-cotton {
    --tw-bg-opacity: 1;
    background-color: rgb(252 244 245 / var(--tw-bg-opacity, 1));
}
.text-cotton {
    --tw-text-opacity: 1;
    color: rgb(252 244 245/var(--tw-text-opacity,1))
}
.border-cotton {
    --tw-border-opacity: 1;
    border-color: rgb(252 244 245/var(--tw-border-opacity,1))
}
.text-wine {
    --tw-text-opacity: 1;
    color: rgb(130 32 62 / var(--tw-text-opacity, 1));
}